@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* COLORS */
:root {
  /*overlay */
  --color-overlay: #ededed;

  /* background */
  --color-background: #fff;
  --color-on-background-menu: #f4f4f4;
  --color-background-2: #f5f5f5;
  --color-on-background-active: #e6e8ef;
  --color-on-background-app-bar: #343434;
  --color-on-background: #262626;
  --color-on-background-alternate: #737373;
  --color-on-background-icon-background: #BDBDBD;
  --color-on-background-decoration: #e5e5e5;
  --color-on-background-link: #0266c2;
  --color-on-background-link-hover: #004b90;
  --color-on-background-table-header-dark: #444444;
  --color-on-background-iq-insights: #edf5ff;

  /* primary */
  --color-primary: #0266c2;
  --color-primary-hover: #004b90;
  --color-primary-active: #003b73;
  --color-on-primary: #fff;
  --color-on-primary-alternate: #fff;
  --color-on-primary-decoration: #fff;
  --color-on-primary-link: #fff;
  --color-on-primary-link-hover: #fff;

  --color-secondary: #fc9c0c;
  --color-secondary-hover: #f4753b;
  --color-secondary-active: #f4753b;
  --color-on-secondary: #000;
  --color-on-secondary-alternate: #000;
  --color-on-secondary-decoration: #000;
  --color-on-secondary-link: #000;
  --color-on-secondary-link-hover: #000;

  /* surface */
  --color-surface: #f7faff;
  /* --color-surface-hover: #; */
  --color-surface-active: #9ac2e7;
  --color-on-surface: #262626;
  --color-on-surface-alternate: #737373;
  --color-on-surface-decoration: #0266c2;
  --color-on-surface-link: #0266c2;
  --color-on-surface-link-hover: #0266c2;

  /* information */
  --color-information: #d9e8f6;
  --color-on-information: #262626;
  --color-on-information-alternate: #737373;
  --color-on-information-decoration: #0266c2;
  --color-on-information-link: #0266c2;
  --color-on-information-link-hover: #0266c2;

  /* success */
  --color-success: #bde7a6;
  --color-on-success: #262626;
  --color-on-success-alternate: #737373;
  --color-on-success-decoration: #2e7d32;
  --color-on-success-link: #262626;
  --color-on-success-link-hover: #262626;
  --color-on-success-alter-decoration: #4dac5f;

  /* warning */
  --color-warning: #fbe4a8;
  /* --color-warning-hover: #; */
  /* --color-warning-active: #; */
  --color-on-warning: #262626;
  --color-on-warning-alternate: #737373;
  --color-on-warning-decoration: #fcab30;
  --color-on-warning-link: #262626;
  --color-on-warning-link-hover: #262626;
  --color-on-warning-border: #cb7e0a;
  --color-on-warning-pane: #fff6e7;
  --color-on-warning-alter-decoration: #cb7e0a;
  --color-on-warning-secondary-decoration: #bea103;

  /* error */
  --color-error: #f2a4a2;
  --color-on-error: #262626;
  --color-on-error-alternate: #737373;
  --color-on-error-decoration: #c62828;
  --color-on-error-link: #262626;
  --color-on-error-link-hover: #262626;

  /* notice */
  --color-notice: #e5e5e5;
  /* --color-notice-hover: #; */
  /* --color-notice-active: #; */
  --color-on-notice: #262626;
  --color-on-notice-alternate: #737373;
  --color-on-notice-decoration: #262626;
  --color-on-notice-link: #262626;
  --color-on-notice-link-hover: #262626;

  /* danger */
  --color-danger: #b00020;
  --color-danger-hover: #970007;
  --color-danger-active: #7d0000;
  --color-on-danger: #fff;
  --color-on-danger-alternate: #fff;
  --color-on-danger-decoration: #fff;
  --color-on-danger-link: #fff;
  --color-on-danger-link-hover: #fff;
  --color-on-danger-border: #ea2328;
  --color-on-danger-pane: #fde9ea;
  --color-on-danger-alter-decoration: #ea2328;

  /* inactive */
  --color-inactive: #e5e5e5;
  --color-on-inactive: #4c4c4c;
  --color-on-inactive-light: #f5f5f5;

  /* shadow */
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-shadow-variant: rgba(155, 200, 243, 0.5);

  /* hover */
  --color-hover-button: #d0d5e6;
  --color-focussed-btn: #bfc7e1;

  /*disabled-text*/
  --color-disabled-text: #bfbfbf;

  /* chart */
  --color-chart-1: #0266c2;
  --color-chart-2: #4dac5f;
  --color-chart-3: #fc9c0c;
  --color-chart-4: #013666;
  --color-chart-5: #367842;
  --color-chart-6: #cc7e0a;
  --color-chart-7: #9ac2e7;
  --color-chart-8: #9dfaaf;
  --color-chart-9: #fed79e;
  --color-chart-10: #6aadbd;
  --color-chart-11: #936abd;

  /* brand */
  --color-brand-primary: #ed2226;
  --color-brand-secondary: #000000;
  --color-brand-tertiary: #ffffff;
  --color-appbar-bg: #202124;
  --color-global-search-bg: #1d1d1d;
  --color-brand-bg: #fff0db;

  /* workbench, appbar, interactive colors */
  --color-panel-queue: #fafafa;
  --color-panel-queue-highlight: #ececec;
  --color-workbench-tooltip: #333;
  --color-workbench-plan-orient: #a1a1a1;
  --color-workbench-explain-node: #bfe2ba;
  --color-workbench-explain-node-expensive-1: #f9ca7b;
  --color-workbench-explain-node-expensive-2: #fbdba7;
  --color-workbench-explain-node-expensive-3: #fdedd3;
  --color-workbench-explain-node-hover: #b3cfef;
  --color-workbench-explain-node-link: #979797;
  --color-wb-explain-tooltip-border-top: #4287d6;
  --color-faded-white: rgba(255, 255, 255, 0.65);

  /* data grid */
  --color-master-row-border: #0266c2;

  /* wizard */
  --color-wizard-stepper: #2689e5;
  --color-wizard-line: #eeeeee;
  --color-wizard-active-step-border: #fdcd85;

  /* accordion */
  --color-accordion: #f8faff;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  html,
  body {
    @apply h-full;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: none;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
  }

  *,
  ::before,
  ::after {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  ::placeholder {
    color: var(--color-on-background-alternate);
    opacity: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: normal;
  }

  h1 {
    font-weight: 400;
    font-size: 2.063rem;
    color: var(--color-on-background);
  }

  h3 {
    font-weight: 600;
  }

  p,
  /*
    There was a trick which increased specificity of a selector so that ag-grid icons weren't displayed properly.
    I commented this for now.

    span :not(.monaco-editor span),  SURF-3649 don't use Roboto in Monaco editor, want fixed width font
  */
  a,
  button {
    line-height: normal;
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {

  /**
  *	Content widths
  */
  .content-width {
    width: 100%;
    margin: 0 auto;
  }

  /* sm */
  @media (min-width: 480px) {
    .content-width {
      width: 100%;
    }
  }

  /* md */
  @media (min-width: 1024px) {
    .content-width {
      width: 90%;
    }
  }

  /* lg */
  @media (min-width: 1440px) {
    .content-width {
      width: 85%;
    }
  }

  /* xl */
  @media (min-width: 1921px) {
    .content-width {
      width: 75%;
    }
  }

  /* 2xl */
  @media (min-width: 2560px) {
    .content-width {
      width: 65%;
    }
  }

  /**
    *	Base button styles
    */
  .button {
    border-radius: 4px;
    border-width: 1px;
  }

  .button:focus {
    @apply outline-none ring-2 ring-primary ring-offset-2 ring-offset-background;
  }

  .button:disabled {
    cursor: default;
    color: var(--color-on-inactive);
    fill: var(--color-on-inactive);
    border-color: var(--color-inactive);
    background: var(--color-inactive) none;
  }

  .button:disabled:hover,
  .button:disabled:active {
    cursor: default;
    color: var(--color-on-inactive);
    fill: var(--color-on-inactive);
    border-color: var(--color-inactive);
    background: var(--color-inactive) none;
  }

  /**
    *	Icon button styles
    */
  .button.button--icon-left .button__icon {
    padding-left: 1.125rem;
  }

  .button.button--icon-right .button__icon {
    padding-right: 1.125rem;
  }

  /**
    *   Elements
    */
  .button__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0.75rem 0 0.688rem;
    padding: 0 1.125rem;
    font-size: 0.938rem;
    font-weight: 500;
  }

  .button__show-more {
    padding: 0;
    margin-left: -18px;
    border: none;
    color: var(--color-primary);
    fill: var(--color-primary);
    @apply text-base;
  }

  /* sm */
  @media (min-width: 480px) {
    .button__text {
      margin: 0.75rem 0 0.688rem;
    }
  }

  /* md */
  @media (min-width: 1024px) {
    .button__text {
      margin: 0.938rem 0 0.875rem;
    }
  }

  .button__icon {
    display: inline-block;
    vertical-align: middle;

    font-size: 0;
    line-height: 0;
  }

  .button__icon+.button__text {
    padding: 0 1.313rem 0 0.875rem;
  }

  .button__icon-tertiary-text {
    fill: var(--color-primary);
  }

  .button__icon-tertiary-text:hover {
    fill: var(--color-on-background-link-hover);
  }

  #cb-button:hover .button__icon-tertiary-text {
    fill: var(--color-on-background-link-hover);
  }

  /**
  *	Primary variant
  */
  .button--primary {
    color: var(--color-on-primary);
    fill: var(--color-on-primary);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    /* background: linear-gradient(0deg, rgba(2,102,194,1) 50%, rgb(36,101,243,1) 100%); */
  }

  .button--primary:hover {
    border-color: var(--color-primary-hover);
    background: var(--color-primary-hover) none;
  }

  .button--primary:active {
    border-color: var(--color-primary-active);
    background-color: var(--color-primary-active);
  }

  /**
    *	Minimal small variant.
    *   Used exclusively in tables sparingly.
    */
  .button.button--table .button__text {
    margin: 0.438rem 0 0.438rem;
    padding: 0 0.5rem;
    @apply text-sm;
    line-height: normal;
  }

  /**
    *	Minimal accordion variant.
    *   Used exclusively in accordion header sparingly.
    */

  .button--accordion {
    border-radius: 4px;
    border-width: 1px;
    color: var(--color-on-background-link);
    fill: var(--color-on-background-alternate);
    border-color: var(--color-on-background-link);
    background: var(--color-background);
  }

  /**
    *	Minimal small variant.
    *   Use sparingly.
    */
  .button.button--minimal .button__text {
    padding: 0;
    @apply text-sm;
  }

  /**
    *	Extra small text variant.
    *	Do not use.
    */
  .button.button--minimal-xs .button__text {
    padding: 0;
    @apply text-xs;
  }

  /**
    *	Primary inverse variant
    */
  .button.button--primary-inverse {
    color: var(--color-primary);
    fill: var(--color-primary);
    border-color: var(--color-primary);
    background-color: var(--color-on-primary);
  }

  .button.button--primary-inverse:hover {
    color: var(--color-primary-hover);
    fill: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
    background-color: var(--color-on-primary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }

  .button.button--primary-inverse:active {
    color: var(--color-primary-active);
    fill: var(--color-primary-active);
    border-color: var(--color-primary-active);
    background-color: var(--color-on-primary);
  }

  /**
    *	Surface inverse variant.
    */
  .button.button--surface-inverse {
    color: var(--color-primary);
    fill: var(--color-primary);
    border-color: var(--color-primary);
    background-color: var(--color-surface);
  }

  .button.button--surface-inverse:hover {
    color: var(--color-primary-hover);
    fill: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
    background-color: var(--color-surface);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }

  .button.button--surface-inverse:active {
    color: var(--color-primary-active);
    fill: var(--color-primary-active);
    border-color: var(--color-primary-active);
    background-color: var(--color-surface);
  }

  /**
    *	Danger inverse variant
    */
  .button.button--danger-inverse {
    color: var(--color-danger);
    fill: var(--color-danger);
    border-color: var(--color-danger);
    background-color: var(--color-on-danger);
  }

  .button.button--danger-inverse:hover {
    color: var(--color-danger-hover);
    fill: var(--color-danger-hover);
    border-color: var(--color-danger-hover);
    background-color: var(--color-on-danger);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }

  .button.button--danger-inverse:active {
    color: var(--color-danger-active);
    fill: var(--color-danger-active);
    border-color: var(--color-danger-active);
    background-color: var(--color-on-danger);
  }

  .button.button--danger-inverse:disabled {
    color: var(--color-on-inactive);
    fill: var(--color-on-inactive);
    border-color: var(--color-background);
    background-color: var(--color-inactive);
    box-shadow: none;
  }

  /**
    *	Plain variant
    */
  .button.button--plain {
    color: var(--color-primary);
    fill: var(--color-primary);
    border-color: var(--color-on-primary);
    background-color: var(--color-on-primary);
  }

  .button.button--plain:hover {
    color: var(--color-primary-hover);
    fill: var(--color-primary-hover);
    border-color: var(--color-on-primary);
    background-color: var(--color-on-primary);
  }

  .button.button--plain:active {
    color: var(--color-primary-active);
    fill: var(--color-primary-active);
    border-color: var(--color-on-primary);
    background-color: var(--color-on-primary);
  }

  .button.button--plain:disabled {
    color: var(--color-on-inactive);
    fill: var(--color-on-inactive);
    border-color: var(--color-on-primary);
    cursor: default;
    background: var(--color-on-primary) none;
  }

  /**
  *	Remove font-sizing, helpful to blitz textNode which may impact layout.
  */
  .remove-text-node {
    font-size: 0;
    line-height: 0;
  }

  .chip {
    border-radius: 2rem;
    background-color: var(--color-surface);
  }

  mark {
    color: var(--color-surface);
    background-color: var(--color-on-information-decoration);
  }

  .reduced-font-size {
    font-size: 14px;
  }

  .native-datetime {
    color: var(--color-on-background-alternate);
  }

  .native-datetime.native-datetime--active {
    color: var(--color-on-background);
  }
}

/* GLOBAL STYLES FOR V3 */

/* styles for D3-based query explain plan ---------------------------------- */
.wb-explain-summary {
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
}

.wb-explain-summary .column {
  flex-grow: 1;
  margin: 0 1.5rem 0 0;
  padding: 0;
}

.wb-explain-summary .column:last-child {
  flex-grow: 0.5;
  margin-right: 0;
}

.wb-explain-d3-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: OpenSans;
  border-top: 1px solid var(--color-panel-queue-highlight);
}

.wb-explain-node {
  cursor: pointer;
  fill: var(--color-workbench-explain-node);
}

.wb-explain-node text {
  pointer-events: none;
}

.wb-explain-node-expensive-3 {
  fill: var(--color-workbench-explain-node-expensive-3);
}

.wb-explain-node-expensive-2 {
  fill: var(--color-workbench-explain-node-expensive-2);
}

.wb-explain-node-expensive-1 {
  fill: var(--color-workbench-explain-node-expensive-1);
}

.wb-explain-node:hover,
.wb-explain-node-expensive-1:hover,
.wb-explain-node-expensive-2:hover,
.wb-explain-node-expensive-3:hover {
  cursor: hand;
  fill: var(--color-workbench-explain-node-hover);
}

.wb-explain-node-text {
  font-size: 11px;
  font-weight: 600;
  fill: var(--color-on-secondary);
  fill-opacity: 1;
  text-anchor: middle;
}

.wb-explain-node-text-details {
  font-size: 9px;
  fill: var(--color-on-secondary);
  fill-opacity: 1;
  text-anchor: middle;
}

.wb-explain-link {
  fill: none;
  stroke: var(--color-workbench-explain-node-link);
  stroke-width: 1px;
}

.wb-clone-link {
  /* analytics plans can have duplicate edges "clones" which need to be hidden */
  fill: none;
  stroke-width: 0px;
}

.wb-marker {
  fill: var(--color-workbench-tooltip);
}

.wb-explain-plan-zoom {
  color: var(--color-workbench-plan-orient);
  padding: 0.35rem 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 18px;
}

.wb-explain-plan-zoom:hover {
  color: var(--color-on-secondary);
  border: 1px solid var(--color-workbench-plan-orient);
}

.wb-explain-plan-zoom:active {
  color: var(--color-on-secondary);
  border: 1px solid var(--color-workbench-tooltip);
}

.wb-explain-plan-orient {
  display: inline-block;
  color: var(--color-workbench-plan-orient);
  padding: 0.35rem 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 18px;
}

.wb-explain-plan-orient:hover {
  color: var(--color-on-secondary);
  border: 1px solid var(--color-workbench-plan-orient);
}

.wb-explain-plan-orient:active {
  color: var(--color-on-secondary);
  border: 1px solid var(--color-workbench-tooltip);
}

.wb-explain-plan-selected-orient {
  color: var(--color-on-secondary) !important;
}

/* special tooltips for the explain plan ----------------------------------- */
.wb-explain-tooltip {
  position: absolute;
  font-size: 0.75rem;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  color: var(--color-workbench-tooltip);
  background-color: var(--color-background);
  border-radius: 3px;
  border-top: solid 0.25rem var(--color-wb-explain-tooltip-border-top);
  box-shadow: var(--color-shadow);
  min-width: 200px;
  z-index: 10;
}

.wb-explain-tooltip h5 {
  margin-right: 1rem;
}

ul.wb-explain-tooltip-list {
  padding: 0;
  margin: 0.25rem 0 0.5rem 0;
}

ul.wb-explain-tooltip-list li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

ul.wb-explain-tooltip-list li ul {
  padding-left: 1rem;
}

ul.wb-explain-tooltip-list li ul li {
  list-style-type: circle !important;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}

.index-header {
  font-style: italic;
}

input.appearance-textfield::-webkit-outer-spin-button,
input.appearance-textfield::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.group\/item:hover .group-hover\/item\:visible {
  visibility: visible;
}

.non-interactive {
  pointer-events: none;
  cursor: default;
}

.gutter.gutter-horizontal::after {
  content: '';
  width: 1px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  opacity: 0.6;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
}

input[type='date'],
input[type='datetime-local'] {
  position: relative;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*
  *	Trick to make ordered lists work with headings. 
  * Adding counter-section will automatically number heading elements inside that div.
*/
.counter-section {
  counter-reset: section;
  margin-left: 1rem;
  /* Add left margin to the entire section */
}

.counter-section h1,
.counter-section h2,
.counter-section h3,
.counter-section h4,
.counter-section h5,
.counter-section h6 {
  margin-left: -1rem;
  /* Remove left margin for headings */
}

.counter-section h1::before,
.counter-section h2::before,
.counter-section h3::before,
.counter-section h4::before,
.counter-section h5::before,
.counter-section h6::before {
  counter-increment: section;
  content: counter(section) '. ';
}